{%  load static %}
 <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{%  static "js/plugins/jquery/jquery.js"  %}"></script>
        <script type="text/javascript"src="{%  static "js/jstree.min.js"  %}"></script>
        <script type="text/javascript"src="{%  static "js/plugins/jquery/jquery-ui.min.js"  %}"></script>
        <script type="text/javascript"src="{%  static "js/plugins/bootstrap/bootstrap.min.js"  %}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type='text/javascript' src='../static/js/plugins/icheck/icheck.min.js"  %}'></script>
        <script type="text/javascript"src="{%  static "js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"  %}"></script>
        <!-- END PAGE PLUGINS -->       

        <!-- START TEMPLATE -->

        
        <script type="text/javascript"src="{%  static "js/plugins.js"  %}"></script>
        <script type="text/javascript"src="{%  static "js/actions.js"  %}"></script>

 <script type="text/javascript"src="{%  static "js/jquery-resizable.min.js"  %}"></script>
 <script type="text/javascript"src="{%  static "js/jquery-resizableTableColumns.min.js"  %}"></script>
      <link rel="stylesheet" href="{%  static "css/bootcomplete.css"  %}">
   <script src="{%  static "js/jquery.bootcomplete.js"  %}"></script>
    <script src="{%  static "js/jquery.serializeobject.js"  %}"></script>
 <script src="{%  static "js/search.js"  %}"></script>
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS --> 