  <link rel="apple-touch-icon" href="../static/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="../static/images/favicon.ico">
  <!-- Stylesheets -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="../static/assets/css/site.min.css">
  <!-- Plugins -->
  <link rel="stylesheet" href="../static/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="../static/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="../static/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="../static/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="../static/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="../static/vendor/flag-icon-css/flag-icon.css">
  <link rel="stylesheet" href="../static/vendor/waves/waves.css">
  <link rel="stylesheet" href="../static/assets/examples/css/pages/login-v3.css">
  <!-- Fonts -->
  <link rel="stylesheet" href="../static/fonts/material-design/material-design.min.css">
  <link rel="stylesheet" href="../static/fonts/brand-icons/brand-icons.min.css">
    <!--[if lt IE 9]>
    <script src="../static/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->
  <!--[if lt IE 10]>
    <script src="../static/vendor/media-match/media.match.min.js"></script>
    <script src="../static/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="../static/vendor/modernizr/modernizr.js"></script>
  <script src="../static/vendor/breakpoints/breakpoints.js"></script>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>

  <script>
  Breakpoints();
  </script>