  <!-- START PAGE SIDEBAR -->
            <div class="page-sidebar">
                <!-- START X-NAVIGATION -->
                <ul class="x-navigation">

                    <li class="xn-title">Navigation</li>
                    <li class="active">
                        <a href="."><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    </li>


                     <li>
                        <a href="users"><span class="fa fa-user"></span> <span class="xn-text">Users</span></a>
                    </li>
                     <li class="xn-openable">
                        <a href="#"><span class="fa fa-gavel"></span> <span class="xn-text">Laws</span></a>
                        <ul>
                            <li><a href="laws"><span class="xn-text">Add Laws</span></a></li>
                            <li><a href="laws_upload"><span class="xn-text">Upload Laws</span></a></li>
                           <!-- <li><a href="laws"><span class="xn-text">Chapters</span></a></li>
                            <li><a href="laws"><span class="xn-text">Sections</span></a></li>
                             <li><a href="laws"><span class="xn-text">Content</span></a></li>
                             -->

                        </ul>
                    </li>

                   <!-- <li class="xn-openable">
                        <a href="#"><span class="fa fa-globe"></span> <span class="xn-text">Account Management</span></a>
                        <ul>
                            <li><a href="package"><span class="xn-text">Packages</span></a></li>
                            <li><a href="resource"><span class="xn-text">Resources</span></a></li>
                            <li><a href="subscription"><span class="xn-text">Subscription</span></a></li>
                            <li><a href="transactions"><span class="xn-text">Transactions</span></a></li>

                        </ul>
                    </li>-->



                    <li class="xn-openable">
                        <a href="#"><span class="fa fa-android"></span> <span class="xn-text">App Management</span></a>
                        <ul>
                            <li><a href="newupdate"><span class="xn-text">Prepare New Update</span></a></li>
                          <!--  <li><a href="updates"><span class="xn-text">Update List</span></a></li>-->

                        </ul>
                    </li>


                     <li class="xn-openable">
                        <a href="#"><span class="fa fa-inbox"></span> <span class="xn-text">Messages</span></a>
                        <ul>
                            <li><a href="sms"><span class="xn-text">SMS</span></a></li>
                            <li><a href="email"><span class="xn-text">Email</span></a></li>

                        </ul>
                    </li>




                </ul>
                <!-- END X-NAVIGATION -->
            </div>
            <!-- END PAGE SIDEBAR -->



